/* src/styles/prism-ir-theme.css */

/* For CFGs */
/* Prism theme adapted for Diff2Html */
.d2h-code-line-ctn .token.comment,
.d2h-code-line-ctn .token.prolog,
.d2h-code-line-ctn .token.doctype,
.d2h-code-line-ctn .token.cdata {
  color: var(--token-comment-color);
  font-style: italic;
}

.d2h-code-line-ctn .token.punctuation {
  color: var(--token-punctuation-color);
}

.d2h-code-line-ctn .token.keyword {
  color: var(--token-keyword-color);
  font-weight: bold;
}

.d2h-code-line-ctn .token.property {
  color: var(--token-property-color);
}

.d2h-code-line-ctn .token.tag {
  color: var(--token-property-color);
}

.d2h-code-line-ctn .token.boolean,
.d2h-code-line-ctn .token.number {
  color: var(--token-number-color);
}

.d2h-code-line-ctn .token.constant {
  color: var(--token-number-color);
}

.d2h-code-line-ctn .token.symbol {
  color: var(--token-number-color);
}

.d2h-code-line-ctn .token.string {
  color: var(--token-string-color);
}

.d2h-code-line-ctn .token.operator {
  color: var(--token-operator-color);
}

.d2h-code-line-ctn .token.entity,
.d2h-code-line-ctn .token.url,
.d2h-code-line-ctn .token.variable {
  color: var(--token-variable-color);
}

.d2h-code-line-ctn .token.atrule,
.d2h-code-line-ctn .token.attr-value,
.d2h-code-line-ctn .token.function {
  color: var(--token-function-color);
}

.d2h-code-line-ctn .token.class-name {
  color: var(--token-label-color);
}

.d2h-code-line-ctn .token.type {
  color: var(--token-type-color);
}

.d2h-code-line-ctn .token.selector {
  color: var(--token-label-color);
}

.d2h-code-line-ctn .token.attr-name {
  color: var(--token-property-color);
}

/* For code on combined viewer LHS */
.ir-code-display .token.keyword {
  color: var(--token-keyword-color);
}
.ir-code-display .token.variable {
  color: var(--token-variable-color);
}
.ir-code-display .token.label {
  color: var(--token-label-color);
}
.ir-code-display .token.function {
  color: var(--token-function-color);
}
.ir-code-display .token.type {
  color: var(--token-type-color);
}
.ir-code-display .token.number {
  color: var(--token-number-color);
}
.ir-code-display .token.comment {
  color: var(--token-comment-color);
}
.ir-code-display .token.string {
  color: var(--token-string-color);
}
.ir-code-display .token.operator {
  color: var(--token-operator-color);
}
.ir-code-display .token.punctuation {
  color: var(--token-punctuation-color);
}
.ir-code-display .token.property {
  color: var(--token-property-color);
}

/* For CFGs */
.custom-node-header-text .token.keyword {
  color: var(--token-keyword-color);
  font-weight: bold;
}

.custom-node-header-text .token.variable {
  color: var(--token-variable-color);
}

.custom-node-header-text .token.label {
  color: var(--token-label-color);
}

.custom-node-header-text .token.function {
  color: var(--token-function-color);
}

.custom-node-header-text .token.type {
  color: var(--token-type-color);
}

.custom-node-header-text .token.number {
  color: var(--token-number-color);
}

.custom-node-header-text .token.comment {
  color: var(--token-comment-color);
  font-style: italic;
}

.custom-node-header-text .token.string {
  color: var(--token-string-color);
}

.custom-node-header-text .token.operator {
  color: var(--token-operator-color);
}

.custom-node-header-text .token.punctuation {
  color: var(--token-punctuation-color);
}

.custom-node-header-text .token.property {
  color: var(--token-property-color);
}
