/* src/styles/custom-node.css */

/* Preventing conflicting flex behaviours and allowing 'custom-flow-node' to dictate height and width. */
/* Overriding from: @xyflow/react/dist/style.css. */
.react-flow__node.react-flow__node-customNode {
  width: auto !important;
  height: auto !important;
}

.custom-flow-node {
  display: block;
  width: auto !important;
  height: auto !important;
  padding: 10px 15px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--cfg-node-background-color) !important;
  border-radius: 5px;
  font-family: 'Mono', monospace;
  font-size: 0.8em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Specific styling for selected nodes */
.custom-flow-node.selected {
  border: 2px solid #007bff;
}

.custom-node-header-text {
  flex-grow: 1;
  color: var(--cfg-node-text-color);
  align-items: center;
}

.custom-node-header-text pre,
.custom-node-header-text code {
  all: unset;
  display: block;
  white-space: pre-wrap;
  word-break: break-word;
  font-family: monospace;
  font-size: 12px;
  line-height: 1.4;
  width: max-content;
}

.react-flow__panel.react-flow__minimap {
  background-color: var(--cfg-graph-background-color);
}

.react-flow__controls-button {
  background-color: var(--cfg-node-background-color);
}

.react-flow__controls-button:hover {
  background-color: var(--cfg-button-hover-color);
}
